# Database
DATABASE_URL="file:./dev.db"

# Auth
AUTH_SECRET="change-me-to-a-random-secret-in-development"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-to-a-random-secret-in-development"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
